.container-form {
    margin-top: 1.5rem;
}
.title {
    color: #6f42c1;
}
.invalidText {
    color: red;
}
.textResponse {
    color: green;
    font-weight: bold;
}
.textNoResponse {
    color: red;
    font-weight: bold;
}
textarea {
    height: 6rem;
}